{
    "openapi": "3.0.0",
    "info": {
        "title": "SmartDev LMS API Documentation",
        "description": "Comprehensive API documentation for SmartDev Academic Learning Management System. This API provides endpoints for managing courses, students, instructors, assignments, submissions, grades, attendance, and more.",
        "contact": {
            "name": "SmartDev LMS Support",
            "email": "admin@smartdevlms.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://portohansgunawan.my.id",
            "description": "Production Server"
        }
    ],
    "paths": {
        "/api/v1/announcements": {
            "get": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Get all announcements",
                "description": "Retrieve announcements with filtering options (students see only published announcements for enrolled courses)",
                "operationId": "39357d6d098d652a7407c15f64937381",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "query",
                        "description": "Filter by course ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "announcement_type",
                        "in": "query",
                        "description": "Filter by announcement type",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "global",
                                "course"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "published",
                                "archived"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Announcements retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Create new announcement",
                "description": "Create a new announcement (global or course-specific)",
                "operationId": "1d360e8615523cfd09e3f0a845c6b216",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "content",
                                    "announcement_type"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Important Update"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "This is an important announcement..."
                                    },
                                    "announcement_type": {
                                        "type": "string",
                                        "enum": [
                                            "global",
                                            "course"
                                        ],
                                        "example": "course"
                                    },
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "published",
                                            "archived"
                                        ],
                                        "example": "draft"
                                    },
                                    "published_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "expires_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Announcement created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/announcements/{id}": {
            "get": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Get announcement by ID",
                "description": "Retrieve a specific announcement and increment view count",
                "operationId": "a80f41730ef68bb7b968f2433e783a30",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Announcement ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Announcement retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Announcement not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Update announcement",
                "description": "Update an existing announcement",
                "operationId": "50a7fde0a4122131346d374a64d52e23",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Announcement ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "content",
                                    "announcement_type"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Updated Title"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Updated content..."
                                    },
                                    "announcement_type": {
                                        "type": "string",
                                        "enum": [
                                            "global",
                                            "course"
                                        ]
                                    },
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "published",
                                            "archived"
                                        ]
                                    },
                                    "published_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "expires_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Announcement updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Announcement not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Delete announcement",
                "description": "Remove an announcement",
                "operationId": "17e77e4012dbd212aa9951daac49a0ef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Announcement ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Announcement deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Announcement deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Announcement not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/announcements/{id}/publish": {
            "post": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Publish announcement",
                "description": "Change announcement status to published",
                "operationId": "981da2de184ecf6e9e1e3e11af1cb490",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Announcement ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Announcement published successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Announcement published successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Announcement not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/announcements/{id}/archive": {
            "post": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Archive announcement",
                "description": "Change announcement status to archived",
                "operationId": "b5587996824bf53791b46b27cf1d998b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Announcement ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Announcement archived successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Announcement archived successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Announcement not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/announcements/course/{courseId}": {
            "get": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Get course announcements",
                "description": "Retrieve all announcements for a specific course (including global announcements)",
                "operationId": "ad80e9b2631cc773b3de0494eaa31018",
                "parameters": [
                    {
                        "name": "courseId",
                        "in": "path",
                        "description": "Course ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course announcements retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized or not enrolled"
                    },
                    "404": {
                        "description": "Course not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/announcements/global/list": {
            "get": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Get global announcements",
                "description": "Retrieve all published global announcements",
                "operationId": "71f205decaee261c0b547a8d7c4abb8b",
                "responses": {
                    "200": {
                        "description": "Global announcements retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/announcements/active/list": {
            "get": {
                "tags": [
                    "Announcements"
                ],
                "summary": "Get active announcements",
                "description": "Retrieve all active (non-expired) announcements for the user",
                "operationId": "ccdc1404ab1cea0dba8917c4ffeb0595",
                "responses": {
                    "200": {
                        "description": "Active announcements retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/assignments": {
            "get": {
                "tags": [
                    "Assignments"
                ],
                "summary": "Get all assignments",
                "description": "Retrieve assignments based on user role. Admin sees all, instructor sees their courses, student sees enrolled courses",
                "operationId": "33c1f0e6d70846afead69a776e7ebe60",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "course_id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "title": {
                                                "type": "string",
                                                "example": "Quiz Mingguan 1"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Kerjakan quiz dengan teliti"
                                            },
                                            "due_date": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-12-31 23:59:59"
                                            },
                                            "max_score": {
                                                "type": "number",
                                                "example": 100
                                            },
                                            "status": {
                                                "type": "string",
                                                "example": "published"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Assignments"
                ],
                "summary": "Create new assignment",
                "description": "Create a new assignment for a course (Instructor/Admin only)",
                "operationId": "2c10c5092c10d2806f79b69ff7637558",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "course_id",
                                    "title",
                                    "description",
                                    "due_date",
                                    "max_score"
                                ],
                                "properties": {
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Quiz Mingguan 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Kerjakan quiz dengan teliti"
                                    },
                                    "due_date": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-12-31 23:59:59"
                                    },
                                    "max_score": {
                                        "type": "number",
                                        "example": 100
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "published",
                                            "closed"
                                        ],
                                        "example": "published"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Assignment created successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/assignments/{id}": {
            "get": {
                "tags": [
                    "Assignments"
                ],
                "summary": "Get assignment details",
                "description": "Get detailed information about a specific assignment",
                "operationId": "e8600076d64c0b538230b39b6e6e8349",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "course_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Quiz Mingguan 1"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "due_date": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "max_score": {
                                            "type": "number",
                                            "example": 100
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "published"
                                        },
                                        "course": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Assignment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Assignments"
                ],
                "summary": "Update assignment",
                "description": "Update an existing assignment (Instructor/Admin only)",
                "operationId": "4eaaa999e36f830c070da800eb020195",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Quiz Mingguan 1"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "due_date": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "max_score": {
                                        "type": "number",
                                        "example": 100
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "published"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Assignment updated successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Assignment not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Assignments"
                ],
                "summary": "Delete assignment",
                "description": "Delete an assignment (Instructor/Admin only)",
                "operationId": "3670c46d23bd303ed6baf0e80ecd0469",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Assignment deleted successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Assignment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{sessionId}/check-in": {
            "post": {
                "tags": [
                    "Attendance Records"
                ],
                "summary": "Student check-in for attendance",
                "description": "Allow students to check in for an open attendance session",
                "operationId": "f9c720abcc987c41b3a459ed4db4d33c",
                "parameters": [
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Check-in successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Check-in successful"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Session closed or expired"
                    },
                    "403": {
                        "description": "Not a student or not enrolled"
                    },
                    "404": {
                        "description": "Session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{sessionId}/sick-leave": {
            "post": {
                "tags": [
                    "Attendance Records"
                ],
                "summary": "Request sick leave",
                "description": "Student requests sick leave for an attendance session",
                "operationId": "98c65bd4bd4a49ac5a383b6a60b8db1b",
                "parameters": [
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Flu and fever"
                                    },
                                    "attachment": {
                                        "type": "string",
                                        "example": "/uploads/sick-note.pdf"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Sick leave request submitted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sick leave request submitted"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not a student or not enrolled"
                    },
                    "404": {
                        "description": "Session not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{sessionId}/permission": {
            "post": {
                "tags": [
                    "Attendance Records"
                ],
                "summary": "Request permission/izin",
                "description": "Student requests permission to be absent for an attendance session",
                "operationId": "3065ca7f92ec1b56475b1bf8a8a73d01",
                "parameters": [
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Family emergency"
                                    },
                                    "attachment": {
                                        "type": "string",
                                        "example": "/uploads/permission-letter.pdf"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Permission request submitted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Permission request submitted"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not a student or not enrolled"
                    },
                    "404": {
                        "description": "Session not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-records/bulk-mark": {
            "post": {
                "tags": [
                    "Attendance Records"
                ],
                "summary": "Bulk mark attendance",
                "description": "Mark attendance for multiple students at once (Instructor/Admin only)",
                "operationId": "8161f6027862d0512d8740c3d3ec6230",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "records"
                                ],
                                "properties": {
                                    "records": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "enrollment_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "attendance_session_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "present",
                                                        "absent",
                                                        "sick",
                                                        "permission"
                                                    ]
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "example": "Optional notes"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Bulk attendance marked successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bulk attendance marked successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "count": {
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{sessionId}/records": {
            "get": {
                "tags": [
                    "Attendance Records"
                ],
                "summary": "Get session attendance records",
                "description": "Retrieve all attendance records for a specific session",
                "operationId": "4fd26f250cb75618909bbb631e321bd0",
                "parameters": [
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Session records retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions": {
            "get": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Get all attendance sessions",
                "description": "Retrieve attendance sessions with filtering (students see only sessions for enrolled courses)",
                "operationId": "92946f85e4366423ddf45461d597b22d",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "query",
                        "description": "Filter by course ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "open",
                                "closed"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance sessions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Create new attendance session",
                "description": "Create a new attendance session for a course",
                "operationId": "315c69cd0f453b9924022f12ee42b082",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "course_id",
                                    "session_name",
                                    "deadline"
                                ],
                                "properties": {
                                    "course_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "session_name": {
                                        "type": "string",
                                        "example": "Week 1 Attendance"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "open",
                                            "closed"
                                        ],
                                        "example": "open"
                                    },
                                    "deadline": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "start_time": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "end_time": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Attendance session created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{id}": {
            "get": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Get attendance session by ID",
                "description": "Retrieve a specific attendance session with attendance records and summary",
                "operationId": "7a3332f0ba0dce2a6f8b7db0ffe865fe",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance session retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Attendance session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Update attendance session",
                "description": "Update an existing attendance session",
                "operationId": "bb019ff4e5c0d79041f069115cd3927b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "session_name",
                                    "deadline"
                                ],
                                "properties": {
                                    "session_name": {
                                        "type": "string",
                                        "example": "Week 1 Attendance Updated"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "open",
                                            "closed"
                                        ]
                                    },
                                    "deadline": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "start_time": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "end_time": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Attendance session updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Attendance session not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Delete attendance session",
                "description": "Remove an attendance session",
                "operationId": "ea38ee5f7c6c749d9cafcedd5b49e758",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance session deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Attendance session deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Attendance session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{id}/open": {
            "post": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Open attendance session",
                "description": "Change attendance session status to open",
                "operationId": "ff0c532a6c027582d58f302411b350e7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance session opened successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Attendance session opened successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Attendance session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{id}/close": {
            "post": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Close attendance session",
                "description": "Change attendance session status to closed",
                "operationId": "c7c9091b40424b0571333534d82e9458",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance session closed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Attendance session closed successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Attendance session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{id}/auto-mark-absent": {
            "post": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Auto-mark absent",
                "description": "Automatically mark students as absent if they haven't checked in after deadline",
                "operationId": "bc2ccbedaed6837180b70d0796063207",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Auto-marked absent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Auto-marked absent successfully"
                                        },
                                        "marked_count": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Session has not expired yet"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Attendance session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/{id}/summary": {
            "get": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Get attendance session summary",
                "description": "Retrieve attendance summary statistics for a specific session",
                "operationId": "00c5dfa449119bcd83db3cfe84454c1f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Session summary retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "session_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "session_name": {
                                            "type": "string",
                                            "example": "Week 1 Attendance"
                                        },
                                        "summary": {
                                            "type": "object"
                                        },
                                        "attendance_percentage": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 85.5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Attendance session not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/course/{courseId}": {
            "get": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Get course attendance sessions",
                "description": "Retrieve all attendance sessions for a specific course",
                "operationId": "1bde7c4385aae02413bf2a05f6df9b1e",
                "parameters": [
                    {
                        "name": "courseId",
                        "in": "path",
                        "description": "Course ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course sessions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized or not enrolled"
                    },
                    "404": {
                        "description": "Course not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-sessions/course/{courseId}/active": {
            "get": {
                "tags": [
                    "Attendance Sessions"
                ],
                "summary": "Get active course attendance sessions",
                "description": "Retrieve all active (open) attendance sessions for a specific course",
                "operationId": "0fb897d1ca2184daf0ec9303a8ae4718",
                "parameters": [
                    {
                        "name": "courseId",
                        "in": "path",
                        "description": "Course ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Active course sessions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized or not enrolled"
                    },
                    "404": {
                        "description": "Course not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register new user (DEPRECATED)",
                "description": "This endpoint is deprecated. Use role-specific registration endpoints instead.",
                "operationId": "a718f172ff3ac464d723835815f8fb57",
                "responses": {
                    "410": {
                        "description": "Endpoint deprecated"
                    }
                },
                "deprecated": true
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "description": "Authenticate user and return access token. Supports all roles: student, instructor, parent, admin, calon_siswa",
                "operationId": "44212a9096e4b09358281e9ec8a0701d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Admin User"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "admin"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "profile": {
                                            "description": "Role-specific profile data",
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "1|abc123..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Password yang diberikan salah"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "description": "Invalidate the current user's token",
                "operationId": "79854151e609bd20032aa5aa4d5a35c0",
                "responses": {
                    "200": {
                        "description": "Successfully logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/certificates": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Get all certificates",
                "description": "Retrieve a list of certificates with optional filtering",
                "operationId": "60757088a84bcdb9ec2249a66d5fdf3a",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "query",
                        "description": "Filter by course ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "student_id",
                        "in": "query",
                        "description": "Filter by student ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by certificate status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "issued",
                                "revoked"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/certificates/{id}": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Get certificate details",
                "description": "Get detailed information about a specific certificate",
                "operationId": "5cd9829e21b076a5742f5103ddce8151",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Certificate ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Certificate not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Delete certificate",
                "description": "Delete a certificate (Admin only)",
                "operationId": "a815ed63e6edc015b3c926a04ecb37ce",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Certificate ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Certificate deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Certificate deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Certificate not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/certificates/generate/{enrollmentId}": {
            "post": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Generate certificate",
                "description": "Generate a certificate for a specific enrollment",
                "operationId": "6c318aec5effa0f96d4b856d6efaf04a",
                "parameters": [
                    {
                        "name": "enrollmentId",
                        "in": "path",
                        "description": "Enrollment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Certificate generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Certificate generated successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Certificate already exists or not eligible"
                    },
                    "404": {
                        "description": "Enrollment not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/certificates/bulk-generate/{courseId}": {
            "post": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Bulk generate certificates",
                "description": "Generate certificates for all eligible students in a course",
                "operationId": "70c71d5b211ac376848bc4a87a269840",
                "parameters": [
                    {
                        "name": "courseId",
                        "in": "path",
                        "description": "Course ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bulk generation completed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bulk certificate generation completed"
                                        },
                                        "summary": {
                                            "type": "object"
                                        },
                                        "results": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Course not found or no enrollments"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/certificates/verify/{certificateCode}": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Verify certificate by code",
                "description": "Public endpoint to verify certificate validity by code",
                "operationId": "a661767897e81b930bdc842bddf96ba2",
                "parameters": [
                    {
                        "name": "certificateCode",
                        "in": "path",
                        "description": "Certificate Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verification result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "valid": {
                                            "type": "boolean"
                                        },
                                        "certificate": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Certificate not found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/certificates/verify-id/{id}": {
            "get": {
                "tags": [
                    "Certificates"
                ],
                "summary": "Verify certificate by ID",
                "description": "Public endpoint to verify certificate validity by ID",
                "operationId": "9aacc995de51dd43e6e1ae92f07e394d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Certificate ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verification result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "valid": {
                                            "type": "boolean"
                                        },
                                        "certificate": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
[...]
